$colorPrimary: linear-gradient(to right, #fbbd61, #ec7532);
.header {
  @apply absolute z-10 w-full;
  .header_content {
    @apply container mx-auto px-14 text-center  text-white font-bold;
    .header_top {
      @apply pt-5 pb-2  bg-opacity-70;
      .header_detail {
        @apply grid grid-cols-12  text-sm;
        .header_signIn {
          @apply col-span-1 border-r border-dotted;
          cursor: pointer;
        }
        .header_signUp {
          @apply col-span-1;
          cursor: pointer;
        }
      }
    }
    .header_bot {
      nav {
        @apply relative flex justify-between items-center;
        .header_logo {
        }
        .header_nav {
          ul {
            @apply flex justify-between;
            .nav_item {
              @apply px-5 py-3 text-lg relative;
              border-bottom: 1px solid gray;
              &::after {
                @apply w-0 h-1 block absolute transition-all duration-500 bottom-0 left-0;
                content: "";
                background: $colorPrimary;
              }
              &:hover::after {
                @apply w-full;
              }
              .header_active {
                &::after {
                  content: "";
                  width: 100%;
                  height: 0.25rem;
                  display: block;
                  background: linear-gradient(to right, #fbbd61, #ec7532);
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  transition: all 0.5s;
                  z-index: 10;
                }
              }
            }
          }
        }
      }
    }
  }
}
