.newIn {
  padding-top: 50px;
  .newIn_content {
    @apply container mx-auto;
    .newIn_title {
      padding: 20px 0;
      border-bottom: 1px solid rgba(128, 128, 128, 0.534);
      position: relative;
      &::after {
        content: "";
        width: 12%;
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(to right, #fbbd61, #ec7532);
      }
      h2 {
        font-size: 1.2rem;
        color: #ec7532;
        margin: 0;
      }
    }
    .newIn_carousel {
      padding: 50px 100px;
      .slick-slider {
        .slick-arrow {
          color: #ec7532;
          font-size: 2.2rem;
          position: absolute;

          &::before {
            display: none;
          }
        }
        .slick-prev {
          top: 40%;
          z-index: 10;
          left: -5%;
        }
        .slick-next {
          top: 40%;
          z-index: 10;
          right: -5%;
        }
        .slick-list {
          .slick-track {
            .slick-slide {
              .newIn_item {
                padding: 0 10px;
                .newIn_img {
                  position: relative;
                  overflow: hidden;
                  border-radius: 15px;
                  height: 200px;
                  border: 1px solid #ec7532;
                  .newIn_overlay {
                    position: absolute;
                    color: white;
                    text-align: center;
                    width: 100%;
                    opacity: 0;
                    transition: all 0.5s 0.1s;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    i {
                      height: 70px;
                      width: 70px;
                      line-height: 70px;
                      text-align: center;
                      border-radius: 50%;
                      border: 2px solid white;
                      font-size: 0.9rem;
                      margin-bottom: 10px;
                    }
                    a {
                      display: block;
                      text-decoration: none;
                      color: white;
                      padding: 10px 0;
                    }
                  }
                  &:hover .newIn_overlay {
                    opacity: 1;
                  }
                  &::before {
                    content: "";
                    width: 0%;
                    height: 100%;
                    transform: skewx(35deg);
                    position: absolute;
                    bottom: 0;
                    left: -45%;
                    background: linear-gradient(to right, #ec7532, #fbbd61);
                    transition: all 0.5s;
                  }
                  &:hover::before {
                    width: 200%;
                  }
                  img {
                    width: 100%;
                    object-fit: cover;
                  }
                }
                .newIn_text {
                  text-align: center;
                  padding: 20px;
                  p {
                    font-size: 1.1rem;
                  }
                  .newIn_star {
                    font-size: 0.8rem;
                    .star_check {
                      padding: 0 2px;
                      color: #fbbd61;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
